<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/about-me2.css">
    <script src="js/about-me2.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <meta charset="utf-8">
    <title>about-me</title>
  </head>
  <body>
    <header>
        <div class="header header-before">
            <div class="header-left">
              <img alt="LOGO3" src="images/LOGO3.png">
            </div>
            <div class="header-right">
              <div class="header-btn">
                <a href="/index" class="index-button">Home</a>
              </div>
              <div class="header-btn">
                <div class="btn-wrapper">
                  <a href="/about-me" class="AboutMe-button">About me</a>
                </div>
              </div>
              <div class="header-btn">
                <a href="/works" class="Works-button">Works</a>
              </div>
            </div>
          </div>
    </header>
    <div class="story">
      <img src="images/baby.png" class="Layer1">
      <img src="images/pc.png" class="Layer2">
      <img src="images/conpaney.png" class="Layer3">
      <img src="images/baby2.png" class="Layer4">
      <img src="images/1153.png" class="Layer5">
      <img src="images/1600.png" class="Layer6">
      <img src="images/541.png" class="Layer7">
      <img src="images/531.png" class="Layer8">
      <img src="images/522.png" class="Layer9">
      <img src="images/1411.png" class="Layer10">
      <img src="images/1436.png" class="Layer11">
      <img src="images/679.png" class="Layer12">
        <h2 class="title">Story</h2>
        <h3 class="sub-title">ー今までー</h3>
        <div class="events-container">
          <div id="line"></div>
            <div class="event birth">
              <div class="events-center">
                <div class="events-day-left">
                    <h2>20XX</h2>
                    <p class="event-kind-left">誕生</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-right">
                    <p>200XX年X月X日XX生まれ～<br>
                      ～～～～～～～～～～～～～～<br>
                      ～～～～
                    </p>
                </div>
              </div>
            </div>

            <div class="event get-pc">
              <div class="events-center">
                <div class="events-day-right">
                    <h2>20XX</h2>
                    <p class="event-kind-right">パソコン購入</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-left">
                    <p>200XX年X月中学校の入学祝いに<br>
                      パソコンを親に買ってもらう<br>
                      ～～～～～～
                    </p>
                </div>
              </div>
            </div>
          </div>
            <div class="event conpaney">
              <div class="events-center">
                <div class="events-day-left">
                    <h2>20XX</h2>
                    <p class="event-kind-left">起業</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-right">
                    <p>200XX年X月株式会社XXを起業<br>
                      ～～～～～～～～～～～～～～～<br>
                      ～～～～
                    </p>
                </div>
              </div>
            </div>

            <div class="event san">
              <div class="events-center">
                <div class="events-day-right">
                    <h2>20XX</h2>
                    <p class="event-kind-right">〇〇〇〇</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-left">
                  <p>200XX年X月～～～～～<br>
                    ～～～～～～～～～～～～<br>
                    ～～～～～～
                  </p>
                </div>
              </div>
            </div>
          </div>
            <div class="event yon">
              <div class="events-center">
                <div class="events-day-left">
                    <h2>20XX</h2>
                    <p class="event-kind-left">〇〇〇〇</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-right">
                  <p>200XX年X月～～～～～<br>
                    ～～～～～～～～～～～～<br>
                    ～～～～～～
                  </p>
                </div>
              </div>
            </div>

            <div class="event go">
              <div class="events-center">
                <div class="events-day-right">
                    <h2>20XX</h2>
                    <p class="event-kind-right">〇〇〇〇</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-left">
                    <p>200XX年X月～～～～～<br>
                      ～～～～～～～～～～～～<br>
                      ～～～～～～
                    </p>
                </div>
              </div>
            </div>

            <div class="event roku">
              <div class="events-center">
                <div class="events-day-left">
                    <h2>20XX</h2>
                    <p class="event-kind-left">〇〇〇〇</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-right">
                  <p>200XX年X月～～～～～<br>
                    ～～～～～～～～～～～～<br>
                    ～～～～～～
                  </p>
                </div>
              </div>
            </div>

            <div class="event san">
              <div class="events-center">
                <div class="events-day-right">
                    <h2>20XX</h2>
                    <p class="event-kind-right">〇〇〇〇</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-left">
                  <p>200XX年X月～～～～～<br>
                    ～～～～～～～～～～～～<br>
                    ～～～～～～
                  </p>
                </div>
              </div>
            </div>

            <div class="event yon">
              <div class="events-center">
                <div class="events-day-left">
                    <h2>20XX</h2>
                    <p class="event-kind-left">〇〇〇〇</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-right">
                  <p>200XX年X月～～～～～<br>
                    ～～～～～～～～～～～～<br>
                    ～～～～～～
                  </p>
                </div>
              </div>
            </div>

            <div class="event go">
              <div class="events-center">
                <div class="events-day-right">
                    <h2>20XX</h2>
                    <p class="event-kind-right">〇〇〇〇</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-left">
                    <p>200XX年X月～～～～～<br>
                      ～～～～～～～～～～～～<br>
                      ～～～～～～
                    </p>
                </div>
              </div>
            </div>

            <div class="event roku">
              <div class="events-center">
                <div class="events-day-left">
                    <h2>20XX</h2>
                    <p class="event-kind-left">〇〇〇〇</p>
                </div>
                <div class="dot"></div>
                <div class="events-thing-right">
                  <p>200XX年X月～～～～～<br>
                    ～～～～～～～～～～～～<br>
                    ～～～～～～
                  </p>
                </div>
              </div>
          </div>
        </div>    
            <h2 class="now-h2">ー現在ー</h2>
            <p class="now">～～～～～～～～～～～～～～～～～～～～～<br>
              ～～～～～～～～～～～～～～～～～～<br>
              ～～～～～～～～～～～～～～～～～～～～～～～～<br>
              ～～～～～～～～～～～～～～～～～～～～～<br>
            </p>
            <div class="parent-container">
              <a href="/index" class="index-button btn btn-flat fadein txt11 transition-button-about-me"><span>BACK ></span></a>
            </div>
    </div>
    
    <footer>
      <div class="contact">
        <h2>Contact</h2>
        <h3>ーお問い合わせー</h3>
        <p>下記アドレスかXのDMにて ご連絡ください。</p>
        <a id="mail" href="mailto:namename@gmail.com">namename@gmail.com</a>
        <a href="https://x.com/" target="_blank"><img id="twitter-icon" src="images/square-x-twitter-brands-solid.svg" alt=""></a>
      </div>
    </footer>
  </body>
</html>